<form style="border:1px solid #ccc;padding:15px;text-align:center; max-width: 480px; margin: 0 auto"
    action="https://tinyletter.com/eduklein" method="post" target="popupwindow"
    onsubmit="window.open('https://tinyletter.com/eduklein', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <label for="tlemail">If you want to keep up to date with the content I share, consider subscribing to my
            newsletter.</label>
    <div><input type="text" style="width:250px" name="email" id="tlemail" placeholder="e-mail" />&nbsp;<input type="hidden" value="1"
        name="embed" /><input type="submit" value="Subscribe" /></div>
    <a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a>
</form>